<!DOCTYPE html>
<html lang="en">
<title>SoilUp</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}
</style>
<body>

<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-red w3-card w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-white">Home</a>
  
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium w3-large">
    
  </div>
</div>

<!-- Header -->
<header class="w3-container w3-red w3-center" style="padding:128px 16px" >
  <h1 class="w3-margin w3-jumbo" style=" font-weight: bold; color:black;border:15px solid Violet; "> WELCOME TO SOILUP </h1>
  <p><br><br><br>
  </p>
  <a href="{{ url_for('city') }}"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top" >Try the Model</button></a>
 
</header>

<!-- First Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-twothird">
      <h1>ABOUT THE PROJECT</h1>
      <h5 class="w3-padding-32">This is a machine learning state-of-the-art model with an accuracy of over 99%</h5>

      <p class="w3-text-grey">In this model we have used a XGBoost Classifier which will predict for us the best crop out of 22 labels for crops available, which can be planted on the field based on diffrent factors of the soil like nitrogen content of the soil and rainfall levels.
                              For getting the temprature of the next 15 days and the humidity of the area we are using OpenWeather's free API for developers. The machine learning model is hosted on this interactive website using Heroku. The dataset used for training our model was taken up from Kaggle which had 2200 instances and 7 variables.</p>
    </div>

    <div class="w3-third w3-center">
      <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
  <div class="w3-content">
    <div class="w3-third w3-center">
      <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
    </div>

    <div class="w3-twothird">
      <h1>ABOUT ME</h1>
      <h5 class="w3-padding-32">Hi! I am Aryan currently in my undergrad i love data science and tech in general.</h5>

      <p class="w3-text-grey"> There isn't much to say here,  <a href="https://aryannath.github.io/" style="color: green; font-weight: bold;">click here</a> to visit my website or get connected with social media, click at the icons at the bottom of the page.<br><br>Thank You!</p>
    </div>
  </div>
</div>

<div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
    <h1 class="w3-margin w3-xlarge">Made with ❤️ for all the farmers</h1>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-center w3-opacity">  
  <div class="w3-xlarge w3-padding-32">
    
    <i class="fa fa-instagram w3-hover-opacity" onclick="window.location.href = 'https://www.instagram.com/aryan.die.17/';"></i>
  
    <i class="fa fa-twitter w3-hover-opacity" onclick="window.location.href = 'https://twitter.com/Aryannath25';"></i>
    <i class="fa fa-linkedin w3-hover-opacity" onclick="window.location.href = 'https://www.linkedin.com/in/aryan-nath-7324aa200/';"></i>
 </div>
</footer>

<script>
// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
 <style>
 header{
width : 100%;
background-position: center center;
  background-color: #cccccc;   
background-image: url("https://user-images.githubusercontent.com/26514224/119498297-18d66000-bd83-11eb-985c-6fa2ab58276a.jpg");

}  
</style> 
 

</body>
</html>
